<link href="~/css/ourteamcard.css" rel="stylesheet" />

@model IEnumerable<ApniDukan.Models.Product>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6" style="padding:10px;">
            <div class="our-team">
                <div class="pic">
                    <img decoding="async" src="@("~/upload/product/image/"+item.FilePath)" asp-append-version="true" width="250px" height="300px"  alt="product_img"/>
                </div>
                <h3 class="title">@Html.DisplayFor(modelItem => item.Name)</h3>
                <span class="post">@Html.DisplayFor(modelItem => item.Category.Name)</span>
                <a href="#" class="btn btn-danger text-white">Add To Cart</a>
             </div>
        </div>
    }
</div>


@*

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Cart">Add To Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

*@
